<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stest" parallel="tests" thread-count="4">

  <listeners>
    <listener class-name="stest.sonicx.wallet.common.client.utils.RetryListener"/>
  </listeners>

 <test name="account,transfer">
   <packages>
     <package name="stest.sonicx.wallet.transfer">
     </package>
     <package name="stest.sonicx.wallet.account">
     </package>
     </packages>
   </test>

   <test name="exchangeandtoken,mutisign">
     <packages>
       <package name="stest.sonicx.wallet.exchangeandtoken">
       </package>
       <package name="stest.sonicx.wallet.mutisign">
       </package>
     </packages>
   </test>

   <test name="Contract linkage,block,node">
     <packages>
       <package name="stest.sonicx.wallet.contract.linkage">
       </package>
       <package name="stest.sonicx.wallet.block">
       </package>
     </packages>
   </test>

    <test name="contract scenario,committee,witness">
      <packages>
          <package name="stest.sonicx.wallet.contract.scenario">
          </package>
          <package name="stest.sonicx.wallet.committee">
          </package>
          <package name="stest.sonicx.wallet.witness">
          </package>
      </packages>
    </test>

</suite>